.github/
.vscode/
.vscode-test/
node_modules/
out/
src/
static/icon.svg
.gitignore
.prettierignore
.prettierrc
.vscode-test.mjs
.vscodeignore
esbuild.js
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
package-lock.json
**/tsconfig.json
